button {
border: 0 none;
cursor: pointer;
font-weight: bold;
padding: 0 15px 0 0;
text-align: center;
height: 30px;
line-height: 30px;
width: auto;
}

button span {
display: block;
padding: 0 0 0 15px;
position: relative;
white-space: nowrap;
height: 30px;
line-height: 30px;
}

button::-moz-focus-inner {
border: none;
}

/* Green Button */
button.green {
background: transparent url( img/green_right.png ) no-repeat scroll right top;
background: green transparent no-repeat scroll right top;
clear: left;
    font-size: 0.8em;
}


button.green span {
background: transparent url( img/green_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.green:hover {
background-position: 100% -30px;
}

button.green:hover span {
background-position: 0% -30px;
}

/* Red Button */
button.red {
background: transparent url( img/red_right.png ) no-repeat scroll right top;
clear: left;
font-size: 0.8em;
}

button.red span {
background: transparent url( img/red_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.red:hover {
background-position: 100% -30px;
}

button.red:hover span {
background-position: 0% -30px;
}

/* Gray Button */
button.gray {
background: transparent url( img/gray_right.png ) no-repeat scroll right top;
clear: left;
font-size: 0.8em;
}

button.gray span {
background: transparent url( img/gray_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.gray:hover {
background-position: 100% -30px;
}

button.gray:hover span {
background-position: 0% -30px;
}

/* Blue Button */
button.blue {
background: transparent url( img/blue_right.png ) no-repeat scroll right top;
clear: left;
font-size: 0.8em;
}

button.blue span {
background: transparent url( img/blue_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.blue:hover {
background-position: 100% -30px;
}

button.blue:hover span {
background-position: 0% -30px;
}

/* Orange Button */
button.orange {
background: transparent url( img/orange_right.png ) no-repeat scroll right top;
clear: left;
font-size: 0.8em;
}

button.orange span {
background: transparent url( img/orange_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.orange:hover {
background-position: 100% -30px;
}

button.orange:hover span {
background-position: 0% -30px;
}

/* Yellow Button */
button.yellow {
background: transparent url( img/yellow_right.png ) no-repeat scroll right top;
clear: left;
font-size: 0.8em;
}

button.yellow span {
background: transparent url( img/yellow_left.png ) no-repeat scroll left top;
color: #FFFFFF;
}

button.yellow:hover {
background-position: 100% -30px;
}

button.yellow:hover span {
background-position: 0% -30px;
}

/* Common Button */
button.common {
    background: transparent url(img/bg_button_a.gif) no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

button.common span {
    background: transparent url(img/bg_button_span.gif) no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

button.common:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

button.common:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#abm_tt button, #select_ca_button {
	border:none;
	outline: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    /*display: block;*/
    cursor:pointer;
    clear:both;
    padding: 0px 5px 0px 5px;
	margin: 5px 0px 5px 0px 0px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:12px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#4797ED;
	
	/*
	position: absolute;
    bottom: 10px;
    left: 10px;
	*/
}
#abm_tt button:hover, #select_ca_button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

#abm_tt p{
    float:left;
    clear:both;
    margin:1px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:99%;
    height: 99%;
    display: none;
    padding:2px;
    margin-left:2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
#abm_tt form p label{
    /*width:180px;*/
    /*float:left;*/
    text-align:left;
    margin-right:6px;
    line-height: 280%;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}

#abm_tt p label{
    /*width:180px;
    float:left;*/
    text-align:center;
    margin-right:6px;
    line-height: 280%;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#abm_tt input:not([type=radio]),
#abm_tt textarea,
#abm_tt select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    /*width: 200px;*/
    /*float:left;*/
}
#abm_tt input:focus,
#abm_tt textarea {
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}